.menu-container {
  margin: 0.5rem 0.8rem;
  cursor: pointer;
  color: #3357d0;

  padding: 0.8rem 1.5rem;

  display: flex;
  align-items: center;

  & > img {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: #d5dff3;
  }
}
