.dashboard-container {
  display: grid;

  grid-template-columns: minmax(min-content, 15rem) 1fr;
}

.dashboard-sidebar {
  /* background-color: lightgreen; */
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #e5ebff;

  & > h5 {
    align-self: flex-start;
    margin: 2rem 0 0.25rem 0.8rem;
  }
}

.dashboard-main {
  /* background-color: #fff; */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  /* background-color: orange; */
  margin-top: 1rem;
  padding: 0.5rem 0.25rem;
  align-items: center;

  & > img {
    cursor: pointer;
    height: 18px;
    width: 18px;
  }
}

.dashboard-main {
  margin: 1rem;
  display: grid;
  grid-template-rows: max-content;
  /* grid-row-gap: 1rem; */
}

.dashboard-main-titlebar {
  display: flex;
  justify-items: start;
  align-items: center;
  padding: 1.5rem;

  border-bottom: 1px solid #23c4;

  & > h3 {
    margin-right: auto;
  }
  & > p {
    margin-right: 2rem;
  }
  & > img {
    height: 36px;
    width: 36px;
    display: block;
    margin-right: 10px;
  }
}

.dashboard-main-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 1.5rem;
}

.dashboard-main-header-message {
  display: flex;
  background-color: #fff3f3;
  padding: 1.5rem 1rem;

  gap: 1.5rem;
  align-items: center;

  width: 100%;

  & > img {
    width: 16px;
    height: 16px;
    display: block;
  }

  & .dashboard-main-header-text {
    margin-right: auto;
    text-align: left;
    line-height: 1.8;
    display: inline-block;
  }

  & .dashboard-main-header-btn {
    justify-self: right;
  }
}

/* Main Content Section  */
.dashboard-main-content {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 1.5rem;
}

.dashboard-main-content-message {
  display: flex;
  background-color: #f2f4f7;
  padding: 1.5rem 1rem;

  gap: 1.5rem;
  align-items: center;
  justify-items: right;
  width: 100%;

  & .dashboard-main-content-text {
    margin-right: auto;
    text-align: left;
    line-height: 1.5;
    display: inline-block;

    & > h5 {
      margin-bottom: 0.9rem;
    }

    & > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      & > li {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }

      & > li input {
        margin-right: 5px;
      }
    }
  }
}
