.search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* background-color: blue; */
  padding: 2rem;
  /* height: 90vh; */
}

/* Layer 1 */
.search-content-1 {
  /* background-color: pink; */

  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 100%;
}

/* Layer 2 */
.search-content-2 {
  /* background-color: lightgreen; */

  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem;
  width: 100%;
}

select {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #375ad1;
  border-radius: 15px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70 90 L40 50 H100 Z' fill='%234CAF50'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  cursor: pointer;
  min-width: 200px;
}

select:focus {
  outline: none;
  border-color: #2e7d32;
  box-shadow: 0 0 5px rgba(46, 125, 50, 0.5);
}

/* Layer 3 */
.search-content-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  grid-template-rows: repeat(4, 1fr); /* 4 equal-height rows */
  gap: 2rem;
}
